page-score-board {   
    .fecha{
        border-radius: 25px 25px 0 0;
        background-color: color($colors,primary);
        text-align: center;
        padding: 5px;
        color: white;
        font-weight: bold;
    }
    .title{
        text-align: center;
        padding: 15px;
        color: color($colors,orange);
        h3{
            font-size: 2.5em!important;
        }
    }
    .fac{
        text-align: center;
    }
    .tittle_big{
        padding: 20px;
        text-align: center;
    }

    .buttons{
        margin-top: 20%;
    }

    .start_button{
        width: 70%;
    }

    .scores{
        padding: 10px 10px;
        border-width: 0.5px;
    }

    .perfil{
        text-align: right;
        padding: 10px 10px;
        border-width: 0.5px;
        img{
            height: 160px;
            width: 120px;
        }
    }

    .score{
        text-align: left;
        padding: 5px;
    }

    .ownPoints{
        text-align: center;
    }

    .own{
        border-radius: 0 0 25px 25px;
        background-color: color($colors,primary);
        text-align: center;
        padding: 5px;
        color: white;
        font-weight: bold;
    }

    .weight_show{
        z-index: 99999;
        height: 100px;
        width: 100%;
        position: absolute;
        background-color: white;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 15px #000;
    }

    .mass_button{
        height: 30px;
        padding: 0vh;
        margin: auto;
    }

    .form_element input{
        text-align: center
    }

    .darkBackground{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99998;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .weight_buttom{
        position: absolute;
        top: 22em;
        right: 3em;
        width: 8em;
        font-size: 1.2rem;
        height: auto;
        padding: 7px;
    }

    .weight_page_buttom{
        width: 40px;
        padding: 10px;
        position: absolute;
        top: 7em;
        right: 1.5em;
    }

    .hearth_page_buttom{
        width: 40px;
        padding: 10px;
        position: absolute;
        top: 10em;
        right: 1.5em;
    }
}
