<ion-content padding>
  <div class="title">
    <h3>Formulario de registro</h3>
  </div>
  <div class="tittle_big">
    <h1>TOP 3 FACULTADES</h1>
  </div>
  <div class="fecha" *ngIf="today">{{today.getDate()}} / {{months[today.getMonth()]}} / {{today.getFullYear()}}</div>
  
  <ion-row>
    <ion-col col-6>
      <div class="scores">
        <div class="score" *ngFor="let fac of facultades">
          <p>{{fac.nombre}} ............ {{fac.score}}</p>
        </div>
      </div>
    </ion-col>
    <ion-col col-6>
      <div class="perfil">
        <img *ngIf="user.genero == 'Maculino'" src="../assets/imgs/guy.png" alt="">
        <img *ngIf="user.genero == 'Femenino'" src="../assets/imgs/girl.png" alt="">
      </div>
    </ion-col>
  </ion-row>
  
  <div class="own">
    <ion-row>
      <ion-col col-6>
        <div class="myFactultyPoints"><span>Puntaje mi facultad: </span>{{user.facultad.score}}</div>  
      </ion-col>
      <ion-col col-6>
        <div class="ownPoints"><span>Mi puntaje: </span>{{user.score}}</div>
      </ion-col>
    </ion-row>
  </div>
  
  <div class="buttons">
      <button class="start_button" (click)="openActivity()">Realizar actividad fisica</button>
      <button class="start_button" (click)="openCardiac()">Medir Ritmo Cardiaco</button>
  </div>
</ion-content>