<ion-content>

    <div class="glass">
        <p class="title">Medir Ritmo Cardiaco <br><span>Estatico</span></p>
        <h1 class="ritm_value">{{value}}</h1>

        <p *ngIf="!connectionB" class="offline"><ion-icon name="bluetooth"></ion-icon>Sin conexion</p>
        <p *ngIf="connectionB" class="online"><ion-icon name="bluetooth"></ion-icon>Conectado</p>
    
        <button *ngIf="!measuring" class="start_button power" (click)="read_cardiac()"><ion-icon name="pulse"></ion-icon></button>
        <button *ngIf="measuring" class="start_button powerOn" ><ion-icon name="pulse"></ion-icon></button>
        <button *ngIf="!measuring" (click)="back()" class="start_button">Volver</button>
        <button disabled *ngIf="measuring" class="start_button">Volver</button>
    
    </div>

</ion-content>
