@font-face {
  font-family: "alarm_clock";
  src: url("../assets/fonts/alarm_clock.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.toast-success {
    > div{
         background-color:#32db64!important;
     }
  }
  
  .toast-failed {
    > div{
         background-color:#f53d3d !important;
     }
  }

  .start_button{
    border-radius: 25px;
    transition-duration: 0.4s;
    background-color: color($colors,orange);
    color: white; 
    font-size: 1.6rem;
    font-weight: bold;
    display: block;
    text-align: center; 
    margin: auto;
    padding: 15px 25px;
    margin-top: 20px;
    width: 50%;
  }
